@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\000031}}
svg.bridle {
  /********************
   * Legend
   */
  /********************
   * Transitions
   */
 /*//
// Tables
// --------------------------------------------------
//*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\000036}}
svg.bridle .x.axis line {
  stroke: #fff;
  stroke: lightgrey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000311}}
svg.bridle .x.axis .minor {
  stroke-opacity: .5;
  stroke-width: 0.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000316}}
svg.bridle .x.axis .major {
  stroke-opacity: .5;
  stroke-width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000321}}
svg.bridle .x.axis path {
  fill: none;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000325}}
svg.bridle .x.axis text {
  font-size: 10px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000329}}
svg.bridle .y.axis line, svg.bridle .y.axis path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000335}}
svg.bridle .y.axis .tick line {
  stroke-width: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000343}}
svg.bridle g.legend {
  font: 13px sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000347}}
svg.bridle g.legend .legendItem p {
  margin: 0;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000354}}
svg.bridle g.legend .legendItem.disabled circle {
  fill-opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000371}}
svg.bridle .hover rect {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  stroke: #333;
  stroke-width: 1;
  fill-opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000384}}
svg.bridle .hover .line {
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;
  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  stroke-width: 4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\0000396}}
svg.bridle .hover .area {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  opacity: 1;
  stroke-width: 1;
  stroke: #333;
  fill-opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003120}}
table.bridle {
  /* Caret for sorting */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003121}}
table.bridle tr {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003126}}
table.bridle .asc {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003137}}
table.bridle .desc {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003151}}
div.bridle.tooltip {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  width: 150px;
  font-family: Arial;
  font-size: 13px;
  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 15px;
  border-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003178}}
div.bridle.tooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003184}}
div.bridle.tooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003190}}
div.bridle.tooltip .rightValue, div.bridle.tooltip .leftValue {
  display: table;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003195}}
div.bridle.tooltip .leftLabel, div.bridle.tooltip .rightLabel {
  display: table-cell;
  text-align: left;
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003201}}
div.bridle.tooltip .leftVal, div.bridle.tooltip .rightVal {
  text-align: right;
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dario\/workspace\/bridle\/styles\/bridle\.scss}line{font-family:\00003207}}
div.bridle.tooltip span {
  display: inline-block;
  margin: 2px 0;
}
