{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ relative }}css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ relative }}css/main.css">

        <!-- CSS for the graphs -->
        <link rel="stylesheet" href="{{ relative }}css/bridle.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="{{ relative }}javascripts/bridle.js"></script>
        

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="{{ relative }}">{{ site.name }}</a></h1>
              <a class="extra" href="{{ relative }}">Home</a>
              <a class="extra" href="{{ relative }}examples/">Examples</a>
              <a class="extra" href="https://github.com/ptdavteam/bridle">Fork Project on Github</a>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Copyright 2013 - Pearson Technology<br />
                  Data Analytics and Visualisation Team<br />
                  pearson.davteam@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  Built by<br />
                  <a href="https://twitter.com/hubert_rogers">Hubert Rogers</a> and <a href="https://twitter.com/radiodario">Dario Villanueva</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->


    </body>
</html>
