/*@import "compass_twitter_bootstrap";*/

text {
  fill: #333;
}

/* annoyingly crispEdges results in invisible tick lines */
/*.axis {
  shape-rendering: crispEdges;
}*/

.x.axis line {
  stroke: #fff;
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
  stroke-width: 0.5px;
}

.x.axis .major {
  stroke-opacity: .5;
  stroke-width: 1px;
}

.x.axis path {
  fill: none;
  display: none;
}

.y.axis line, .y.axis path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.y.axis .tick line {
  stroke-width: 1;
}

#bar-chart {
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
  }

  text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

